@using Hangman.Models
@model GameResult

@{
    ViewBag.Title = "Justin's Hangman";
}

<h2>Justin's Hangman</h2>
@{
    var gallowsImagePath = "/Content/Images/hang" + @Model.StepsIntoTheGallows + ".gif";
}
<img src='@gallowsImagePath' alt="Gallows" />
<div>
    @Model.CorrectWord.ToString()
</div>
<div>
    You: @Model.GameResultState.ToString()!
</div>
<div>
    Play Another? @Html.ActionLink("Yes", "StartGame") @Html.ActionLink("No", "Reset")
</div>
