@using Hangman.Util
@model Hangman.Models.GameStatus
@{
    ViewBag.Title = "Justin's Hangman";
}

<div class="row">
    <h2>Justin's Hangman</h2>
    @{
        var gallowsImagePath = "/Content/Images/hang" + @Model.StepsIntoTheGallows + ".gif";
    }
    <img src='@gallowsImagePath' alt="Gallows" />
</div>
<div>
    @for (int i = 0; i < @Model.CorrectWord.Length; i++)
    {
        if (@Model.CorrectGuessedLetters.Contains(Char.ToLower(@Model.CorrectWord[i])))
        {
            <text>@Model.CorrectWord[i]</text>
        }
        else
        {
            <text>_</text>
        }
    }
</div>
<div>
    @for (int i = 0; i < 26; i++)
    {
        if (Model.IncorrectGuessedLetters.Contains(Char.ToLower(Alphabet.AlphaString[i])))
        {
            <text><del style="color: red">@Alphabet.AlphaString[i]</del></text>
        }
        else if (Model.CorrectGuessedLetters.Contains(Char.ToLower(Alphabet.AlphaString[i])))
        {
            <text><b style="color: green">@Alphabet.AlphaString[i]</b></text>
        }
        else
        {
            <text>@Html.ActionLink(Alphabet.AlphaString[i].ToString(), "Guess", new { value = Alphabet.AlphaString[i].ToString() })</text>
        }
    }
</div>
<div>
    <div>Hint?</div>
    <div style="color:white">
        @Model.CorrectWord
    </div>
</div>
