@using Hangman.Util
@model Hangman.Models.GameStatus
@{
    ViewBag.Title = "Justin's Hangman";
}

<div class="row">
    <h2>Justin's Hangman</h2>
    @{
        var gallowsImagePath = "/Content/Images/hang" + @Model.StepsIntoTheGallows + ".gif";
    }
    <img src='@gallowsImagePath' alt="Gallows" />
</div>
<div>
    @for (int i = 0; i < @Model.CorrectWord.Length; i++)
    {
        if (@Model.CorrectGuessedLetters.ToLower().Contains(@Model.CorrectWord[i].ToString().ToLower()))
        {
            <text>@Model.CorrectWord[i]</text>
        }
        else
        {
            
            <text>_</text>
        }
    }
</div>
<div>
    @for (int i = 0; i < 26; i++)
    {
        if (Model.IncorrectGuessedLetters.ToUpper().Contains(Alphabet.AlphaString[i].ToString()))
        {
            <text><del>@Alphabet.AlphaString[i]</del></text>
        }
        else
        {
            <text>@Html.ActionLink(Alphabet.AlphaString[i].ToString(), "Guess", new { value = Alphabet.AlphaString[i].ToString() })</text>

        }
    }
</div>
<div>
    <div>Hint?</div>
    <div style="color:white">
        @Model.CorrectWord
    </div>
</div>
